body
 {
    background: url(background.jpg) no-repeat;

	background-size: 100%;         
	
                          }


Form {
	font-weight: bold;
	
                          }	

	
#board{
	border: 3px solid #373faa;

	border-style: outset;
                          
}

.box{
	width: 25px;
	
height: 25px;
	
border: 1px #616bb0;
	
background-color: #a0aeb9;
	
border-style: solid;

                          
} 

td{
	margin: 0px;
}


table{
	border-spacing: 0px;
}

.box:active{
	background-color: #4c55ad;

                          }


img{
	width: 40%;
	
display: none;
	
opacity: 50%;
	
position: fixed;
	
top: 200px;
	
left: 300px;
}
